__pycache__/
*.pyc
*.pyo
*.pyd
.idea/
venv/
client_secret_317694747647-tf1drt9g8v1s6p07t1d94jen11qa85ud.apps.googleusercon
.env
*.sqlite3
*.logtent.com.json
client_secret_*.json
service_account.json
client_secret.json
.json/
test_transaction.py
test_gspread.py
CASH_EXCHANGE_SETUP.md
COMMISSION_SETUP.md
COMMISSION_USAGE.md
dump.rdb
nUq9uDDIKsKs8QoEwVhMAAAAG2toYXRza2V2eWNoTWFrc3ltQGdtYWlsLmNvbQEC.pub
nUq9uDDIKsKs8QoEwVhMAAAAG2toYXRza2V2eWNoTWFrc3ltQGdtYWlsLmNvbQEC.pub
promt.txt
rates_session.session
nUq9uDDIKsKs8QoEwVhMAAAAG2toYXRza2V2eWNoTWFrc3ltQGdtYWlsLmNvbQEC
test_commission.py
service_account.json
start_bot.bat
/docker-compose.yml
/Dockerfile